html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;
}

html, body, .wrapper{
    height: 100%;
}

.wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
    min-width: 1030px;
    overflow: hidden;
}

.content{
    padding-bottom: 210px;
}
header {
    padding: 20px 0 21px;
    background-color: #333e43;
    background: #4a5476 url('img/header-bg.jpg') 50% -110px no-repeat;
}
header a {
    display: inline-block;
}
header .inner{
    padding: 0;
}
.index-page .inner {
    width: 920px;
    padding: 0;
    clear: fix;
}
.car-page .inner{
    width: 1125px;
}
.car-page .order-info{
    margin-bottom: 90px;
}

header .inner .logo{
    float: left;
}
header .inner .user-nav{
    float: right;
    margin-top: 11px;
}

header.index-page{
    position: absolute;
    top: 0;
    left: center;
    z-index: 1;
    width: 100%;
    background: none;
}

section {

}
section.white{
    background-color: #fff;
}
section.dark-white{
    background-color: #f8fafe;
}
section.light-blue{
    background-color: #f8fafe;
}
section.blue{
    background-color: #dce6f4;
}
section.black{
    background-color: #1d1d1d;
}
.inner{
    width: 1030px;
    margin: 0 auto;
    padding: 12px 0;
}
.content.index .inner{
    padding: 50px 0 55px;
}

footer {
    position: relative;
    display: block;
    margin: -210px 0 0;
    height: 210px;
    min-width: 1030px;
    background-color: #1c1c1c;
}
footer .inner{
    padding: 34px 0 55px;
    width: 1030px;
}
footer .row{
    display: table;
}
footer .row .left{
    display: table-cell;
}
footer .row .left a{
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}
footer .row .center{
    display: table-cell;
    width: 640px;
}
footer .row .center a{
    margin: 0 20px;
    vertical-align: middle;
    display: inline-block;
}
footer .row .right{
    display: table-cell;
}
footer .row .right .email{
    margin-top: 27px;
}

footer .btn_entrance{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 5px;
    min-width: 90px;
    display: inline-block;
}
footer .btn_transparent{
    color: #fff;
}
footer .btn_entrance i{
    left: 10px;
}
footer a{
    text-decoration: underline;
    @link-colors all #424242;
}
footer a:hover,
footer a:focus{
    text-decoration: none;
}