@font-face {
    font-family: "WeblySleekUILight";
    src: url("fonts/WeblySleekUILight/WeblySleekUILight.eot");
    src: url("fonts/WeblySleekUILight/WeblySleekUILight.eot?#iefix")format("embedded-opentype"),
    url("fonts/WeblySleekUILight/WeblySleekUILight.woff") format("woff"),
    url("fonts/WeblySleekUILight/WeblySleekUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "WeblySleekUISemiLight";
    src: url("fonts/WeblySleekUISemiLight/WeblySleekUISemiLight.eot");
    src: url("fonts/WeblySleekUISemiLight/WeblySleekUISemiLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/WeblySleekUISemiLight/WeblySleekUISemiLight.woff") format("woff"),
    url("fonts/WeblySleekUISemiLight/WeblySleekUISemiLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

h1{
    font-size: 45px;
    font-weight: 300;
    line-height: 1.2;
}
h2{
    font-size: 40px;
    font-weight: 300;
    color: #465072;
    line-height: 1.4;
    margin-bottom: 10px;
}
h3{
    font-size: 33px;
    font-weight: 300;
    line-height: 1.2;
}
h4{
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
}
h5{
    font-size: 20px;
}


p{
    color: #2e2e2e;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
}

a{
    text-decoration: none;
    @link-colors all #bcbec1;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}